.navbar {
  font-family: Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Allows the children inside a flex container to wrap down onto the next line if there is not enough space.*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Centers the children of a flex container vertically.*/
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*Adds space between each child of a flex container.*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: #696969 0px 0px 5px;
          box-shadow: #696969 0px 0px 5px;
  top: 0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  /*Inherits the same color as the parent element or grandparent (the body) unless you set the color to the navbar.*/
}

.logo {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
  color: #232323;
  margin-right: 50%;
}

.list {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #232323;
  padding-right: 25px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  /*Applies right and bottom spacing between children inside a flex or grid container.*/
}

#toggler,
.navbar label {
  color: #232323;
  display: none;
  /*Hide the checkbox and label on large screens.*/
}

footer {
  margin-top: 50px;
  background: #232323;
  height: auto;
  width: 100%;
  bottom: 0;
  padding-top: 40px;
  color: #fff;
  font-family: Arial;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom {
  background: #484848;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.f,
.t,
.i,
.g {
  padding: 20px;
  font-size: 40px;
}

.f {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.f #link-icon {
  color: #ffffff;
}

.f #link-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #3440ec;
}

.t {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.t #link-icon {
  color: #ffffff;
}

.t #link-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #2aaaff;
}

.i {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.i #link-icon {
  color: #ffffff;
}

.i #link-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: fuchsia;
}

.g {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.g #link-icon {
  color: #ffffff;
}

.g #link-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #90ff60;
}

.html {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: #f1672c;
}

.css {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  color: #2965f1;
}

.js {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: #f1bf26;
}

.python {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  color: #366f9f;
}

.basketball {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: #d25925;
}

.game {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  color: #d2514a;
}

.code {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  color: #8271ff;
}

.img-modal-container {
  width: 90%;
  margin: 30px auto;
}

.img-modal-detail {
  letter-spacing: 20px;
}

.img-modal-detail fieldset {
  border-radius: 15px;
  border: 2px solid #696969;
}

.img-modal-detail legend {
  font-family: Arial;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

#myImg1,
#myImg2,
#myImg3,
#myImg4,
#myImg5 {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 15%;
  height: 15%;
  -webkit-box-shadow: #adadad 0px 0px 10px 0px;
          box-shadow: #adadad 0px 0px 10px 0px;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 105px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.container-detail {
  padding-top: 30px;
}

.img-container {
  width: 20%;
  margin: 0 auto;
}

.img-detail {
  width: 90%;
  margin: 0 auto;
}

.img-detail img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0 0 0.75rem #979797);
          filter: drop-shadow(0 0 0.75rem #979797);
}

.container-about-hobby-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 5fr;
      grid-template-columns: 5fr 5fr;
}

.about-container {
  width: 80%;
  margin: 0 auto;
}

.about-detail {
  font-family: Arial;
  text-transform: uppercase;
}

.about-detail fieldset {
  border-radius: 15px;
  border: 2px solid #696969;
}

.about-detail legend {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

.about-icon {
  font-size: 56.7px;
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
  letter-spacing: 20px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.about-icon .name {
  color: #FF6FB5;
}

.about-icon .age {
  color: #6d258f;
}

.about-icon .university {
  color: #c55607;
}

#tooltip {
  position: relative;
}

#tooltip .name-tooltiptext,
#tooltip .age-tooltiptext,
#tooltip .university-tooltiptext {
  font-size: 10px;
  font-family: Arial;
  letter-spacing: normal;
  visibility: hidden;
  width: 150px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 20%;
  margin-left: -60px;
}

#tooltip .name-tooltiptext {
  background: #FF6FB5;
}

#tooltip .age-tooltiptext {
  background: #6d258f;
}

#tooltip .university-tooltiptext {
  background: #c55607;
}

#tooltip:hover .name-tooltiptext,
#tooltip:hover .age-tooltiptext,
#tooltip:hover .university-tooltiptext {
  visibility: visible;
}

.hobby-container {
  margin: 0 auto;
  width: 80%;
}

.hobby-detail {
  font-family: Arial;
  text-transform: uppercase;
}

.hobby-detail fieldset {
  border: 2px solid #696969;
  border-radius: 15px;
}

.hobby-detail legend {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
}

.hobby-icon {
  font-size: 56.7px;
  letter-spacing: 20px;
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.skill-container {
  width: 90%;
  margin: 30px auto;
}

.skill-detail fieldset {
  border-radius: 15px;
  border: 2px solid #696969;
}

.skill-detail legend {
  font-family: Arial;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.skill-detail img {
  width: 10%;
  display: block;
  margin: 0 auto;
}

.skill-icon {
  margin: 50px auto;
  width: auto;
  font-size: 5rem;
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-icon span {
  padding: 10px;
}

ent: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-di.container-tnk-wu {
  margin-top: 60px;
}

.container-tnk-wu-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 5fr;
      grid-template-columns: 5fr 5fr;
}

.tnk-container-item {
  background-image: url(/img/tnk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 80%;
  height: 300px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.tnk-container-item p {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.tnk-black {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.wu-container-item {
  background-image: url(/img/wu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  width: 80%;
  height: 300px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orirection: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wu-container-item p {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.wu-black {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 150px;
  z-index: 1;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  padding: 15px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #1c1f1e;
  border: 1px white solid;
  -webkit-transition: 0.2s 0.1s;
  transition: 0.2s 0.1s;
}

.btn span:hover {
  color: white;
  -webkit-transition: 0.2s 0.1s;
  transition: 0.2s 0.1s;
}

.btn::before {
  background-color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  content: " ";
}

.hover-filled-slide-left::before {
  height: 100%;
  width: 93%;
}

.btn.hover-filled-slide-left:hover::before {
  width: 0;
}

.scroll-downs {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

.perspective-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(/img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bg-black {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.perspective-text {
  position: relative;
  left: -50px;
  color: white;
  font-family: Arial;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  position: relative;
  height: 50px;
  overflow: hidden;
}

.perspective-line p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.perspective-line:hover p {
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
}

.perspective-line:nth-child(3) {
  left: 87px;
}

.perspective-line:nth-child(4) {
  left: 116px;
}

.perspective-line:nth-child(odd) {
  -webkit-transform: skew(60deg, -30deg) scaleY(0.667);
          transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(odd):hover p {
  color: #55D8C1;
}

.perspective-line:nth-child(even) {
  -webkit-transform: skew(0deg, -30deg) scaleY(1.333);
          transform: skew(0deg, -30deg) scaleY(1.333);
}

.perspective-line:nth-child(even):hover p {
  color: #FF6FB5;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 500px) {
  .modal-content {
    width: 100%;
  }
  .close {
    top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding-block: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    margin: 0 auto;
  }
  .menu {
    width: 100%;
    max-height: 0;
    /*Makes the max-height 0 to side the expanded menu.*/
    overflow: hidden;
    /*Hides the overflowing content.*/
  }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*Chances the direction of the flex container. By default it is a row so we change it to column in small screens.*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*Makes it an inline flex container for the icon. Used for centering the icon inside this box.*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  /* 
        The general sibling selector (~) selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% to show the menu.
    */
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .img-detail img {
    width: 110%;
  }
  .about-icon {
    font-size: 45px;
    letter-spacing: 10px;
  }
  .hobby-icon {
    font-size: 45px;
    letter-spacing: 10px;
  }
  .tnk-container-item p {
    font-size: 15px;
  }
  .wu-container-item p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    padding-block: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    margin: 0 auto;
  }
  .menu {
    width: 100%;
    max-height: 0;
    /*Makes the max-height 0 to side the expanded menu.*/
    overflow: hidden;
    /*Hides the overflowing content.*/
  }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*Chances the direction of the flex container. By default it is a row so we change it to column in small screens.*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*Makes it an inline flex container for the icon. Used for centering the icon inside this box.*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  /* 
        The general sibling selector (~) selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% to show the menu.
    */
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .perspective-text {
    margin-right: 55px;
    font-size: 50px;
  }
  .container-about-hobby-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-detail legend {
    font-size: 30px;
  }
  .about-icon {
    font-size: 45px;
    letter-spacing: 10px;
  }
  .hobby-detail legend {
    font-size: 30px;
  }
  .hobby-icon {
    font-size: 45px;
    letter-spacing: 10px;
  }
  .img-container {
    position: static;
    margin-top: 10px;
    width: 50%;
    height: 100%;
  }
  .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  .skill-detail legend {
    font-size: 30px;
  }
  .skill-detail img {
    width: 40%;
    padding-top: 30px;
  }
  .skill-icon {
    font-size: 60px;
  }
  .skill-icon span {
    padding: 20px 10px;
  }
  .img-modal-detail legend {
    font-size: 30px;
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 75px;
    right: 35px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .container-tnk-wu-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .tnk-container-item p {
    font-size: 20px;
  }
  .wu-container-item {
    margin-top: 30px;
  }
  .wu-container-item p {
    font-size: 20px;
  }
  .footer-content p {
    font-size: 10px;
  }
  .footer-bottom p {
    font-size: 12px;
  }
  .icon {
    margin-right: 10px;
    padding: 0%;
  }
}

html {
  scroll-behavior: smooth;
}

html a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: Arial;
}
