@import"_header";
@import"_footer";
@import"_modal";
@import"_container-detail";
@import"_banner";
@import"_responsive";
html {
    scroll-behavior: smooth;

    a {
        text-decoration: none;
    }
}

body {
    margin: 0 auto;
    font-family: Arial;

}